h2.intro {
  font-size: 40px;
  font-family: cursive;
  color: blue;
}

p.intro {
  font-size: 20px;
  font-family: fantasy;
  color: red;
}

img.intro {
  border-radius: 50%;
  height: 200px;
  width: 50%;
}
